<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
<link rel="icon" href="favicon.ico">


</head>
<link rel="stylesheet" href="J:\bikeservice\bikeservice\bikeservice\templates\design\styles.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<body >

<form action="#" method="POST">
<label> name:</label>
<input type='datetime' value=""><br>
<label> message:</label>
<textarea name="text" id="jae" cols="30" rows="5"></textarea><br>
<input style="background-color: #fcf8e8;" type="submit" name="submit">

    </form>
    <div class="div"> this is stock news</div>
    <div class="div1"> this is css practice</div>
<p>Jay Shree Tea & Industries Ltd reports earnings for Q3FY21
    Posted On: 2021-02-14 20:44:00 (Time Zone: Arizona, USA)
    
    facebook sharing button Sharetwitter sharing button Tweetpinterest sharing button Pinsharethis sharing button Sharewhatsapp sharing buttonemail sharing button
    
    Jay Shree Tea & Industries Ltd. a Birla Group of company reported an all time record cash profit of Rs. 105 crore on Turnover of Rs. 440 crore under the chairmanship of Mrs. Jayashree Mohta.
    
    The company took several measures to streamline its operation in tea, chemicals & fertilisers and treasury. It succeeded in controlling cost on various front. It reduced its debt burden by Rs. 150 crore upto 3rd quarter ended December, 2020. The company is in the process of monetising certain assets and hopeful to be debt free by 2nd quarter of next Year.
    
    There has been significant recovery in the tea prices and average realisation was higher by Rs. 95/- per kg. The fertiliser division despite pandemic sold more quantity than last year to derive volume advantage.
    
    The rating agency Brickwork revised and upgraded rating to BBB- with stable outlook due to considerable improvement in performance of the company. The agency factored in favourable tea industry outlook and drew comfort from the company's superior quality of tea, which resulted in realisation higher than the industry averages and favourable age profile of tea bushes.
    
    Going forward there should be further improvement in Cash Flow from operation and monetisation of assets, and with strong operational track rccord of the company, the rating should improve further.
    
    On the occasion of the Board meet, Mrs. Jayashree Mohta, Chairperson & Managing Director stated that we are very pleased to see all time record and highest ever profit achieved by the company in a year in the midst of pandemic which has hit the world so hard. The recovery in tea prices witnessed has been significantly better than what we had hoped just a few months back. It is the quality of tea and the untiring efforts of the employees at all levels.
    
</p >
<p id="para"> Mr. Vikash Kandoi, the Executive Director stated that soon after break of pandemic we took very cautious approach and undertook measures in tea & fertilisers to cut down cost drastically and improve business verticals. We believe that the focus on productivity, debt free status and future cash generation will help improve the Company's margins in future. Monetising process of certain assets is being carried out to retire debts and concentrate on fruitful assets to create long term value for all its stakeholders. The distillery set up at sugar unit is one of the best in the country today and running at its full capacity. The Company is taking steps for development of sugarcane and has requested Government of Bihar to put embankments in required areas to stop flooding and mitigate the hardships faced by sugarcane farmers. These measures shall help in streamlining the operations of sugar mill from next year onwards.
    
    Shares of JAY SHREE TEA & INDUSTRIES LTD. was last trading in BSE at Rs.72.3 as compared to the previous close of Rs. 70.15. The total number of shares traded during the day was 47909 in over 656 trades.
    
  
    The stock hit an intraday high of Rs. 73.75 and intraday low of 69.8. The net turnover during the day was Rs. 3475070.</p>
</p>
<p class="centre"> make a centre</p>
<img src="
</body>
</html>